@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
.nav-page {
  position: fixed;
  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0, 0.81, 0.34, 1);
  align-items: center;
  flex-direction: column;
  background-color: black; }

.show-nav {
  display: block;
  display: flex; }

.show-visible-nav {
  opacity: 1; }

.centered {
  position: fixed;
  top: 30%; }

.nobullet > ul {
  list-style-type: none; }

.largelist > li {
  color: #e40087 !important;
  padding-bottom: 40px;
  text-align: center;
  font-size: 3em;
  font-family: "Zilla Slab Highlight", cursive; }

#nav-content {
  opacity: 1; }

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #e40087;
  background: rgba(76, 175, 80, 0);
  z-index: 1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  display: grid;
  font-size: 1.4em;
  grid-template-rows: 750px 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 100px 1fr 100px;
  margin: 0;
  grid-template-areas: "hdr hdr hdr" ". ofr1 ." "ofr3 ofr3 ofr3" "cntc cntc cntc";
  background-color: white;
  font-family: "Source Sans Pro", sans-serif; }
  @media screen and (max-width: 1072px) {
    .container {
      grid-template-areas: "hdr hdr hdr" "ofr1 ofr1 ofr1" "ofr3 ofr3 ofr3" "cntc cntc cntc"; } }

.header {
  background-color: #282c34;
  grid-area: hdr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat; }
  .header .logo {
    right: 10px; }

.offer1 {
  grid-area: ofr1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "so1 so2 so3";
  display: grid; }
  @media screen and (max-width: 1072px) {
    .offer1 {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
      grid-template-areas: " so1 " " so2 " " so3 "; } }
  .offer1 .suboffer1 {
    grid-area: so1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    display: flex;
    flex-direction: column; }
    .offer1 .suboffer1 .offer_heading {
      flex: 1; }
    .offer1 .suboffer1 .offer_logo {
      left: 50%;
      font-size: 1.5em;
      height: 250px; }
    .offer1 .suboffer1 p {
      margin: 50px; }
  .offer1 .suboffer2 {
    grid-area: so2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    display: flex;
    flex-direction: column; }
    .offer1 .suboffer2 .offer_heading {
      flex: 1; }
    .offer1 .suboffer2 .offer_logo {
      left: 50%;
      font-size: 1.5em;
      height: 250px; }
    .offer1 .suboffer2 p {
      margin: 50px; }
  .offer1 .suboffer3 {
    grid-area: so3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    display: flex;
    flex-direction: column; }
    .offer1 .suboffer3 .offer_heading {
      flex: 1; }
    .offer1 .suboffer3 .offer_logo {
      left: 50%;
      font-size: 1.5em;
      height: 250px; }
    .offer1 .suboffer3 p {
      margin: 50px; }

.offer2 {
  grid-area: ofr2;
  background-color: #40b0ff;
  display: flex; }
  .offer2 .offerDesc {
    margin: 50px; }

.offer3 {
  grid-area: ofr3; }
  .offer3 .offerContainer {
    align-items: stretch;
    display: flex;
    margin: 50px;
    flex-flow: row wrap; }
    .offer3 .offerContainer .header-container {
      flex: 1 100%; }
    .offer3 .offerContainer .body-container {
      padding: 50px;
      flex: 2 33%; }
      .offer3 .offerContainer .body-container .body-container-logo {
        text-align: center;
        padding-bottom: 50px; }

.offer4 {
  grid-area: ofr4;
  background-color: #e40087; }

.contactUs {
  grid-area: cntc;
  margin: 50px;
  height: 700px; }
  .contactUs fieldset {
    border: 0; }
  .contactUs textarea {
    width: 100%; }
  .contactUs .content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em; }
  .contactUs .is-center {
    text-align: center; }
  .contactUs .button-xlarge {
    font-size: 125%; }
  .contactUs button {
    float: right; }
  .contactUs #name,
  .contactUs #email {
    width: 50%; }
  .contactUs aside {
    background: #1f8dd6;
    /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em; }
  .contactUs .contact-form {
    margin-top: 20px; }
  .contactUs iframe {
    overflow: hidden; }

.cred {
  grid-area: cred;
  background-color: white; }
