@import "_media_queries";
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import "_prompt";

* {
  font-family: "Quicksand", sans-serif;
  // font-size: 4.9vw;
}

.hero {
  background: -webkit-linear-gradient(
    141deg,
    #0f45b8 0%,
    #1fdbcb 51%,
    #2cb5e8 75%
  );
  background: -moz-linear-gradient(
    141deg,
    #0f45b8 0%,
    #1fdbcb 51%,
    #2cb5e8 75%
  );
  background: linear-gradient(141deg, #0f45b8 0%, #1fdbcb 51%, #2cb5e8 75%);
  height: 300px;
  @include md {
    height: 400px;
  }

  display: grid;
  justify-items: center;
  align-content: center;
  .heroLogo {
    width: 300px;
  }
}

.mobileNav {
  @include md {
    display: none;
  }
}

.navList {
  width: 250px;
}

.nav {
  display: none;
  @include md {
    display: block;
  }
  position: sticky;
  z-index: -1;
  top: 5px;
  background-color: rgba(32, 44, 204, 0.863);
  box-shadow: 2px 4px 15px #535353;

  .navContainer {
    margin: auto;
    @include lg {
      width: 70%;
    }
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    display: grid;
    height: 50px;
  }
}

.drawerButton {
  z-index: -1;
  position: fixed;
  top: 5px;
  right: 15%;
  width: 20px;
}

.content {
  text-align: center;
  margin: auto;
  display: grid;
  justify-items: center;
  align-content: stretch;
  grid-template:
    "header1"
    "content1"
    "header2"
    "content2"
    "header3"
    "content3";
  grid-template-columns: 1fr;
  grid-gap: 15px;

  @include lg {
    padding: 20px;
    grid-template:
      "header1 header2 header3"
      "content1 content2 content3";
  }

  @include lg {
    width: 70%;
  }
  .header1 {
    grid-area: header1;
  }
  .header2 {
    grid-area: header2;
  }
  .header3 {
    grid-area: header3;
  }
  .content1 {
    grid-area: content1;
  }
  .content2 {
    grid-area: content2;
  }
  .content3 {
    grid-area: content3;
  }

  .contentBody {
    width: 70%;
  }
}
