@import url("https://fonts.googleapis.com/css?family=Quicksand");
.loading-blur {
  width: 100%;
  height: 100%;
  background-color: white;
  filter: opacity(0.95);
  position: fixed; }

.loading-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100; }

.prompt-container {
  font-family: "Quicksand", sans-serif;
  background-color: white;
  position: relative;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 100px auto auto;
  grid-gap: 10px;
  filter: drop-shadow(0 0 0.8rem rgba(150, 151, 151, 0.445));
  width: 100%;
  top: 0; }
  @media (min-width: 768px) {
    .prompt-container {
      top: 50px; } }

.prompt-heading {
  grid-row-start: 1;
  grid-column-start: 2;
  text-align: center; }

.prompt-form {
  grid-column-start: 2;
  display: grid; }
  @media (min-width: 576px) {
    .prompt-form {
      grid-template-columns: auto; } }
  @media (min-width: 768px) {
    .prompt-form {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, auto); } }

.close-icon {
  position: relative;
  top: 30px;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 3;
  color: black;
  font-weight: 900;
  text-shadow: 0 0 .5px black;
  transform: scale(1.5, 1.3); }

.prompt-submit {
  grid-row-start: 4;
  grid-column-start: 2;
  margin-bottom: 50px; }

* {
  font-family: "Quicksand", sans-serif; }

.hero {
  background: -webkit-linear-gradient(141deg, #0f45b8 0%, #1fdbcb 51%, #2cb5e8 75%);
  background: -moz-linear-gradient(141deg, #0f45b8 0%, #1fdbcb 51%, #2cb5e8 75%);
  background: linear-gradient(141deg, #0f45b8 0%, #1fdbcb 51%, #2cb5e8 75%);
  height: 300px;
  display: grid;
  justify-items: center;
  align-content: center; }
  @media (min-width: 768px) {
    .hero {
      height: 400px; } }
  .hero .heroLogo {
    width: 300px; }

@media (min-width: 768px) {
  .mobileNav {
    display: none; } }

.navList {
  width: 250px; }

.nav {
  display: none;
  position: sticky;
  z-index: -1;
  top: 5px;
  background-color: rgba(32, 44, 204, 0.863);
  box-shadow: 2px 4px 15px #535353; }
  @media (min-width: 768px) {
    .nav {
      display: block; } }
  .nav .navContainer {
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    display: grid;
    height: 50px; }
    @media (min-width: 992px) {
      .nav .navContainer {
        width: 70%; } }

.drawerButton {
  z-index: -1;
  position: fixed;
  top: 5px;
  right: 15%;
  width: 20px; }

.content {
  text-align: center;
  margin: auto;
  display: grid;
  justify-items: center;
  align-content: stretch;
  grid-template: "header1" "content1" "header2" "content2" "header3" "content3";
  grid-template-columns: 1fr;
  grid-gap: 15px; }
  @media (min-width: 992px) {
    .content {
      padding: 20px;
      grid-template: "header1 header2 header3" "content1 content2 content3"; } }
  @media (min-width: 992px) {
    .content {
      width: 70%; } }
  .content .header1 {
    grid-area: header1; }
  .content .header2 {
    grid-area: header2; }
  .content .header3 {
    grid-area: header3; }
  .content .content1 {
    grid-area: content1; }
  .content .content2 {
    grid-area: content2; }
  .content .content3 {
    grid-area: content3; }
  .content .contentBody {
    width: 70%; }
