$break-large: 1072px;
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin suboffer-logo-mixin() {
  margin: 50px;
  display: flex;

  .offer_heading {
    flex: 1;
  }

  .offer_logo {
    left: 50%;
    font-size: 1.5em;
    height: 250px;
  }
}

@mixin suboffer-container-mixin($grid-area, $background-color) {
  grid-area: $grid-area;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin suboffer-paragraph-mixin() {
  p {
    margin: 50px;
  }
}

.container {
  display: grid;
  font-size: 1.4em;
  grid-template-rows: 750px 1fr 1fr 1fr;
  grid-template-columns: 100px 1fr 100px;
  margin: 0;
  grid-template-areas: "hdr hdr hdr" ". ofr1 ." "ofr3 ofr3 ofr3"
    "cntc cntc cntc";
  @media screen and (max-width: $break-large) {
    grid-template-rows: 750px 1fr 1fr 1fr;
    grid-template-areas: "hdr hdr hdr" "ofr1 ofr1 ofr1" "ofr3 ofr3 ofr3"
      "cntc cntc cntc";
  }
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  background-color: #282c34;
  grid-area: hdr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;

  .logo {
    right: 10px;
  }

  img {
    // width: 400px;
    // height: 450px;
    // @media screen and (max-width: $break-large) {
    //   width: 250px;
    //   height: 300px;
    // }
  }
}

.offer1 {
  grid-area: ofr1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "so1 so2 so3";
  @media screen and (max-width: $break-large) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: " so1 " " so2 " " so3 ";
  }
  display: grid;

  .suboffer1 {
    @include suboffer-container-mixin(so1, white);
    @include suboffer-logo-mixin();
    @include suboffer-paragraph-mixin();
  }

  .suboffer2 {
    @include suboffer-container-mixin(so2, white);
    @include suboffer-logo-mixin();
    @include suboffer-paragraph-mixin();
  }
  .suboffer3 {
    @include suboffer-container-mixin(so3, white);
    @include suboffer-logo-mixin();
    @include suboffer-paragraph-mixin();
  }
}

.offer2 {
  grid-area: ofr2;
  background-color: #40b0ff;
  display: flex;

  .offerDesc {
    margin: 50px;
  }
}

.offer3 {
  grid-area: ofr3;

  .offerContainer {
    align-items: stretch;
    display: flex;
    margin: 50px;
    flex-flow: row wrap;

    .header-container {
      flex: 1 100%;
    }

    .body-container {
      padding: 50px;
      flex: 2 33%;

      .body-container-logo {
        text-align: center;
        padding-bottom: 50px;
      }
    }
  }
}

.offer4 {
  grid-area: ofr4;
  background-color: #e40087;
}

.contactUs {
  grid-area: cntc;
  margin: 50px; 

  fieldset {
    border: 0;
  }

  textarea {
    width: 100%;
  }
  .content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
  }
  .is-center {
    text-align: center;
  }
  .button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
  }
  .button-xlarge {
    font-size: 125%;
  }
  button {
    float: right;
  }
  #name,
  #email {
    width: 50%;
  }

  aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
  }

  .contact-form {
    margin-top: 20px;
  }
}

.cred {
  grid-area: cred;
  background-color: white;
}
